<!DOCTYPE html>
<html lan="en">
<title>Spam Detector</title>

<head>
  <meta charset="utf-8">
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h1>Verity</h1>
  <hr>

  <div class="sidenav">
    <a href="index">Home</a>
    <a href="research">Email Checker</a>
    <a href="about">About</a>

  </div>
  <div class="main">

    <img src="{{ url_for('static', filename='veritylogo2.png')}}" height="200px" width="auto">
    <h3>Purpose of Verity </h3>
    <p> Spam is a common thing in today's society, this is focusing more on email spam detection. The purpose of Verity
      is to allow users to filter out spam that can be potentially harmful. If the email is considered spam, the program
      will tell the user if the entered email address is spam or not. The format will be <b><i>email</i></b> is
      <b><i>spam/not spam</i></b>. The main target audience of Verity will be anyone who has an email address. </p>

    <h3>Creators</h3>
  <ul>
    <li> Jonneta Baldwin </li>
    <li> Hasana Muhammad </li>
    <li> Jaylen Chappelle </li>
  </ul>
  </div>

</body>

</html>